<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{blog.seo.meta_title}}</title>
		<meta name="description" content="{{blog.seo.meta_description}}">
		<meta name="keywords" content="{{blog.seo.keywords}}">
		<link rel="canonical" href="{{blog.seo.canonical_url}}">
		<script type="application/ld+json">
			{{ blog.schema | tojson }}
		</script>
		<script type="application/ld+json">
			{{ blog.faq_schema | tojson }}
		</script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Fjalla+One&display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/blogs.css')}}">
	</head>
	<body>
		<nav class="navbar">
			<div class="logo-container">
				<a href="{{url_for('routes.index')}}" class="nav-logo">SaaS Labs</a>
			</div>

			<input type="checkbox" id="nav-toggle" class="nav-toggle">
			<label for="nav-toggle" class="menu-button" aria-label="Toggle navigation">
				<span></span>
				<span></span>
				<span></span>
			</label>

			<div class="menu-container">
				<ul class="nav-menu">
					<li><a href="{{url_for('routes.index')}}" class="nav-links">Home</a></li>
					<li><a href="{{url_for('routes.about')}}" class="nav-links">About</a></li>
					<li><a href="{{url_for('routes.services')}}" class="nav-links">Services</a></li>
					<li><a href="{{url_for('routes.blogs')}}" class="nav-links">Blogs</a></li>
					<li><a href="{{url_for('routes.faqs')}}" class="nav-links">FAQs</a></li>
				</ul>
			</div>
		</nav>
		<article class="blog-detail-section">
			<header>
				<h1>
					{{blog.title}}
				</h1>
				<div class="meta">
					<span>{{blog.category}}</span>
					<span>{{blog.author}}</span>
					<time>
					{{blog.published_date}}
					</time>
				</div>
				<figure>
					<img 
						src="{{blog.hero_image.url}}"
						alt="{{blog.hero_image.alt}}">
					<figcaption>
						{{blog.hero_image.caption}}
					</figcaption>
				</figure>
			</header>

			{% for content in blog.content %}
			{% if content.type == "h1" %}
			<h1>
				{{content.text}}
			</h1>
			{% elif content.type == "h2" %}
			<h2>
				{{content.text}}
			</h2>
			{% elif content.type == "paragraph" %}
			<p>
				{{content.text}}
			</p>
			{% elif content.type == "image" %}
			<img 
				src="{{content.url}}"
				alt="{{content.alt}}">
			{% endif %}
			{% endfor %}
			<section id="faq" class="faq-section">
				<h2 class="faq-title">
					Frequently Asked Questions
				</h2>
                
                <div class="faq-container">
                    {% for faq in blog.faq %}
                    <details class="faq-item card">
                        <summary>{{ faq.question }}</summary>
                        <p>
                            {{ faq.answer }}
                        </p>
                    </details>
                    {% endfor %}
                </div>
				
			</section>
		</article>
	</body>
</html>