<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
</head>
<body>
<nav class="navbar">
    <div class="logo-container">
        <a href="{{url_for('routes.index')}}" class="nav-logo">SaaS Labs</a>
    </div>

    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="menu-button" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="menu-container">
        <ul class="nav-menu">
            <li><a href="{{url_for('routes.index')}}" class="nav-links">Home</a></li>
            <li><a href="{{url_for('routes.about')}}" class="nav-links">About</a></li>
            <li><a href="{{url_for('routes.services')}}" class="nav-links">Services</a></li>
            <li><a href="{{url_for('routes.blogs')}}" class="nav-links">Blogs</a></li>
            <li><a href="{{url_for('routes.faqs')}}" class="nav-links">FAQs</a></li>
        </ul>
    </div>
</nav>
<section class="home_container">
    <h1 class="h1_home">SaaS Labs Website Sitemap</h1>
    <p>Explore all pages of our website:</p>
</section>
<ul>
    <li>
        <a href="{{ url_for('routes.index') }}">
            Home
        </a>
    </li>

    <li>
        <a href="{{ url_for('routes.about') }}">
            About
        </a>
    </li>

    <li>
        <a href="{{ url_for('routes.services') }}">
            Services
        </a>
    </li>

    <li>
        <a href="{{ url_for('routes.blogs') }}">
            Blogs
        </a>
    </li>

    <li>
        <a href="{{ url_for('routes.faqs') }}">
            FAQs
        </a>
    </li>
</ul>

<h2>SEO Files</h2>

<ul>
    <li>
        <a href="{{ url_for('routes.sitemap_xml') }}">
            XML Sitemap
        </a>
    </li>

    <li>
        <a href="{{ url_for('routes.robots') }}">
            Robots.txt
        </a>
    </li>
</ul>
<footer class="footer">
    <p>© 2026 SaaS Labs. All rights reserved.</p>
    <a href="/sitemap">Sitemap</a>
</footer>
</body>
</html>
